streamlit
nltk
# scikit-learn
spacy
# bnlp-toolkit
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
# https://github.com/banglakit/lemmatizer.git#egg=banglakit-lemmatizer
scikit-learn
